<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.grapecity.debugrank"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.grapecity.debugrank.MyApp">

        <activity
            android:name="com.grapecity.debugrank.ui.languages.LanguagesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.grapecity.debugrank.ui.puzzles.PuzzlesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:configChanges="orientation|screenSize"
            android:name="com.grapecity.debugrank.ui.solve.SolveActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
